body > #root > div {
  margin-top: -21px;
  height: 103.3Vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Rain {
  background-image: url('./assets/selective-focus-photo-of-obalte-green-leafed-plants-during-1463530.jpg') !important;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.Cloud {
  background-image: url('./assets/taylor-van-riper-yQorCngxzwI-unsplash.jpg') !important;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.Sunny {
  background-image: url('./assets/joshua-sortino-XMcoTHgNcQA-unsplash.jpg') !important;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.Fog {
  background-image: url('./assets/ankhesenamun-VrArrh9MlxQ-unsplash.jpg') !important;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.Thunder {
  background-image: url('./assets/noaa-p9BRX1mBfe4-unsplash.jpg') !important;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}